<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="login-form">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12 col-sm-12">
                <input type="text"
                       class="form-control"
                       placeholder="username"/>
                <input type="password"
                       class="form-control"
                       placeholder="password"/>
                <a class="btn btn-primary btn-block" href="{{url_for('index')}}">Login</a>
                <a class="btn btn-success btn-block"
                   href="{{url_for('register')}}">Register</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>